{% extends ".layout.html" %}

{% block contenu %}


<center><h1> {{msg_erreur}} </h1> <br> </center>
<center> <h2> Détails : {{Erreur}} </h2>
<center style= "margin-top:50px"><a href = "../PresDeChezVous/?p=Accueil"> Revenir à l'accueil > <a/> (après avoir fait la correction) </center>
{% endblock %}