{% extends ".layout.html" %}

{% block style %}
<link rel="stylesheet" href="../PresDeChezVous/templates/style/Mentions_legales.css">
{% endblock style %}

{% block contenu %}

    <h2>Informations légales</h2>
    <p>Dernière version : 07/05/2022</p>

    <p> Le site internet <a href="../Page_Accueil/Page_Accueil.html.twig">Près de chez vous</a> vous permet de trouver la
        proximité de plusieurs secteurs par rapport à un lieu ou une adresse. </p>
    <p>Le site est édité par :</p>
    <ul>
        <li>Arnaud Mabit, Baptiste Pichon, Clément Poulleau, Malo Le Quintrec</li>
        <li>Université de Tours</li>
        <li>E-mail : malo.lequintrec@etu.univ-tours</li>
        <li>Directeur de rédaction et de publication : Prénom Nom</li>
    </ul>
    <p>Toutes données et informations que vous trouverez sur le site <a href="../Page_Accueil/Page_Accueil.html.twig">Près de
            chez vous</a> sont prélevées de <a
            href="https://www.insee.fr/fr/statistiques/3568629?sommaire=3568656">l'INSEE</a> ou des utilisateurs
        contributeurs du site. </p>
    <p> Toutes recherches n'est possibles qu'en France, nous n'avons pas de données à l'extérieur de la France
        géographiquement (c'est-à-dire au niveau des pays étrangers) </p>

    <h2>Protection de la vie privée</h2>

    <p> En visitant et/ou utilisant notre site <a href="../Page_Accueil/Page_Accueil.html.twig"> Près de chez vous </a> vous
        acceptez la collecte et l'utilisation de vos données personnelles.</p>

    <p>Vos données personnelles sont collectées notamment :</p>
    <ul>
        <li>lorsque vous créez et utilisez votre compte</li>
        <li>lorsque vous utilisez notre site et consultez nos services</li>
        <li>lorsque vous nous contactez</li>
        <li>lorsque vous nous laissez un avis</li>
    </ul>

    <p>Elles sont utilisées dans le but de :</p>
    <ul>
        <li>vous permettre de nous contacter en cas de besoin</li>
        <li>vous permettre de retrouver vos dernières recherches</li>
        <li> vous informez sur les services pour lesquels vous avez exprimé un intérêt et qui vous sont proposé sur
            notre site</li>
        <li> nous permettre d’établir des statistiques et comptages de fréquentation et d’utilisation des diverses
            rubriques et contenus de notre site</li>
    </ul>

    <p> Nous vous proposons de bénéficier d’un historique de vos recherches et de vos résultats. (pas encore disponible)</p>

{% endblock %}